configuration {
  modi: "combi";
  combi-modi: "window,drun,ssh";
  modi: "combi";
  font: "Roboto 14";
  terminal: "kitty";
  /* for fzf see https://github.com/davatorium/rofi/issues/810 */
  /* and https://github.com/davatorium/rofi/blob/next/doc/rofi.1.markdown */
  matching: "fuzzy";
  sorting-method: "fzf";
  sort: true;
}

@theme "DarkBlue"
